<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Adm</title>
</head>
<body>
    <link rel="stylesheet" href="/css/login.css">
    <div class="container">

            <div id="firstContent" class ="content firstContent">
                <div  id="login">
                    <div id="Logo">
                        <img src="/img/pizza.png" id="logo"/>
                    </div><!--logo-->

                <div  class="bemVindo">
                    <h1>João Pizzas's</h1>
                </div><!--Texto-->

                </div>
        
                <form action="/login" method="POST" class="form" id="loginForm">
                    <input class="inputLogin" type="email" name="email" placeholder="E-mail" />
                    <input class="inputLogin" type="password" name="password" placeholder="Senha"/>
                    <div class="divBtn">
                        <input class="btn" id="btn" type="submit" value="Entrar"/>
                    </div>
                    
                    
                </form>
            </div><!--login-->
        </div>
        
    </div>
</body>
</html>