<div class="auth-contaier">
    <h2>registrar</h2>
    <form action="/register" method="POST">
    <div class="form-control">
        <label for="name">nome</label>
        <input type="text" name="name" placeholder="digitw seu nome" required>
    </div>

    <div class="form-control">
        <label for="email">email</label>
        <input type="email" name="email" placeholder="digitw seu email" required>
    </div>

    <div class="form-control">
        <label for="password">senha</label>
        <input type="password" name="password" placeholder="digitw sua senha" required>
    </div>

    <div class="form-control">
        <label for="confirmpassword">confrim senha</label>
        <input type="password" name="confirmpassword" placeholder="confirme sua senha" required>
    </div>
    <input type="submit" value="Cadastrar">
   </form>
</div>