<link rel="stylesheet" href="/css/login.css">
<div class="auth-contaier">
        <div  id="login">
                    <div id="Logo">
                        <img src="/img/pizza.png" id="logo"/>
                    </div><!--logo-->

                <div  class="bemVindo">
                    <h1>João Pizzas's</h1>
                </div><!--Texto-->

                </div>
    <form action="/register" method="POST" class="form" id="loginForm">
        <input type="text" name="name" placeholder="Digite seu Nome" required>
        <input type="email" name="email" placeholder="Digite seu E-mail" required>
        <input type="password" name="password" placeholder="Digite sua senha" required>
        <input type="password" name="confirmpassword" placeholder="Confirme sua senha" required>
    <div class="divBtn">
    <input class="btn" id="btn" type="submit" value="Cadastrar">
    </div>
   </form>
</div>
