html, body{
    height: 100%;
    background-color: #FFD68A;
}
#brand-logo{
    width: 50px;
}

.navbar.navbar-expand-lg{
    background-color: #FFB834;
    font-weight: bold;
}

.navbar.navbar-expand-lg a{
    color: #fff;
}
.update-btn, .delete-btn {
    border: none;
    background-color: transparent;
}

.delete-btn {
    padding-top: 10px;
}

.update-form {
    display:flex;
    flex-direction: row;
}

.update-btn {
    margin-left: 10px;
}
.status-input {
    width: 65%;
}

.table-ul {
    text-align: left;
}
h2{
    color: #FF4500;
}
span{
    color: #FF4500;
}
th{
    color: #FF6600;
}
td{
    color:#FF4500;
}
.table-container{
    padding:0;
}
.table td, .table th{
    padding: 2vw;
}
.th span{
    display: none;
}
.table thead th:nth-child(1),
.table tbody td:nth-child(1)
{
    display: none;
}
.form-control.status-input{
    background-color: #FFC75F;
}